@media (max-width: 1430px) {
    // Медіа-запит на конкретну ширину вікна при якій будуть змінюватись властивості
    .header {
        &__title {
            font-size: 30px;
            line-height: 35px;
        }
        &__img {
            margin-left: 100px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__container {
            padding: 0 40px;
        }
        &__img {
            margin-left: 25px;
        }
    }
    .about {
        &__container {
            padding: 0 40px;
        }
    }
    .work {
        &__container {
            padding: 0 40px;
        }
    }
    .faq {
        &__container {
            padding: 0 40px;
        }
    }
    .faq-spoiler {
        &__title {
            margin-right: 20px;
        }
        &__icon {
            min-width: 50px;
            min-height: 50px;
        }
        &__preview {
            gap: 5px;
        }
    }
}

@media (max-width: 850px) {
    .header {
        &__img {
            display: none;
        }
        &__info {
            padding: 0;
        }
        &__bottom {
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
        }
    }
    .about {
        &__title::before {
            width: 2px;
        }
        &__item {
            padding-bottom: 0;
            justify-content: center;
        }
        &__item-img {
            display: none;
        }
    }
    .work {
        &__inner-top {
            margin-bottom: 100px;
        }
        &__title {
            font-size: 45px;
            line-height: 67px;
        }
        &__title::before {
            width: 2px;
            top: 0;
        }
        &__inner-bottom {
            flex-direction: column;
        }
        &__info {
            width: 100%;
            margin: 0 0 60px 0;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &__subtitle::before {
            display: none;
        }
    }
    .accordion__list {
        order: 2;
        width: 100%;
    }
    .faq {
        &__title {
            margin-bottom: 65px;
        }
        &__title::before {
            width: 2px;
            left: -10px;
            top: 0;
        }
        &__btn {
            margin-bottom: 100px;
        }
    }
}

@media (max-width: 645px) {
    .header {
        &__top {
            margin-bottom: 50px;
            flex-direction: column;
        }
        &__info {
            margin-bottom: 60px;
        }
        &__title {
            margin-bottom: 15px;
            text-align: center;
        }
        &__subtitle {
            margin: 0 auto 30px;
            text-align: center;
        }
        &__text {
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 0 auto;
        }
        &__point-img {
            margin: 0 auto 15px;
        }
        &__point-text {
            text-align: center;
        }
    }
    .about {
        &__title {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }

        &__item-title {
            text-align: center;
            font-size: 30px;
            line-height: 35px;
            margin-left: 0;
        }
        &__item-title::before {
            display: none;
        }
    }
    .work {
        &__title {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
        &__subtitle {
            font-size: 30px;
            line-height: 35px;
        }
        &__btn {
            display: block;
            margin: 0 auto;
        }
    }
    .faq {
        &__title {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 0 auto 60px;
        }
        &__subtitle {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
    }
    .popup {
        max-height: 100%;
        box-shadow: 0px 0px 64px rgba(99, 61, 255, 1);
        p {
            font-size: 12px;
            line-height: 20px;
        }
        &__close {
            top: 10px;
            right: 10px;
        }
        &__content-top {
            flex-direction: column;
            margin-left: 5px;
        }
        &__title {
            font-size: 25px;
            line-height: 35px;
            margin-right: 87px;
        }
        &__subtitle {
            line-height: 35px;
        }
        &__info {
            flex-direction: column;
            margin-bottom: 5px;
        }
        &__info-item {
            width: 100%;
        }
        &__info-item {
            input::placeholder {
                font-size: 12px;
                line-height: 20px;
            }
        }
        &__info-item input {
            font-size: 12px;
            line-height: 20px;
        }
        &__content-bottom {
            flex-direction: column-reverse;
        }
        &__info-checkbox {
            margin-bottom: 10px;
        }
        &__info-btn {
            margin: 0 auto;
            height: 40px;
            width: 170px;
        }
        &__info-btn:hover {
            @extend %btn_hover;
            margin: 0 auto;
            height: 40px;
            width: 170px;
        }
    }
}

@media (max-width: 450px) {
    .header {
        &__top {
            flex-direction: column;
        }
        &__info {
            margin-bottom: 30px;
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 15px;
            text-align: center;
        }
        &__title {
            font-size: 25px;
            text-align: center;
        }
        &__text {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
        }
        &__img {
            display: flex;
            margin: 0;
        }
    }
    .about {
        &__title {
            text-align: center;
            font-size: 22px;
        }
        &__item {
            flex-direction: column;
        }
        &__item-img {
            display: flex;
            order: 1;
        }
        &__item-title {
            font-size: 18px;
            line-height: 25px;
        }
        &__item-text {
            margin-left: 0;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 30px;
        }
        &__point-img {
            margin-right: 20px;
        }
    }
    .work {
        .spoiler__title {
            font-size: 15px;
            line-height: 25px;
        }
        .spoiler__body {
            font-size: 15px;
            line-height: 25px;
        }
    }
    .faq-spoiler {
        &__title {
            font-size: 15px;
            line-height: 25px;
        }
        &__body {
            font-size: 15px;
            line-height: 25px;
        }
    }
}
