.popup {
    position: fixed;
    max-width: 650px;
    max-height: 740px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 64px rgba(99, 61, 255, 1);
    color: #000;
    border-radius: 30px;
    top: 50px;
    left: 35%;

    padding: 20px;
    margin: 20px;

    opacity: 0;
    visibility: hidden;

    p {
        font-size: 15px;
        line-height: 28px;
        @extend %outfit-500;
        color: #000;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        color: $accent;
        position: relative;
    }
    &__close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        width: 13px;
        height: 13px;
        border: none;
        background-image: url(../images/close-btn.svg);
        background-color: $default;
        cursor: pointer;
    }

    &__content-top {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    &__title {
        font-size: 45px;
        line-height: 67px;
        @extend %space-700;
        margin-right: 87px;
        color: #000;
    }
    &__subtitle {
        font-size: 20px;
        line-height: 67px;
        @extend %space-700;
        color: #000;
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    &__info-item {
        width: 48%;
        margin: 0 5px 5px 5px;
        input {
            border: 1px solid #000;
            border-radius: 7px;
            width: 100%;
            padding: 5px;
            font-size: 15px;
            line-height: 28px;
            @extend %outfit-400;
        }
    }
    &__info-item {
        input::placeholder {
            font-size: 15px;
            line-height: 28px;
            @extend %outfit-400;
            color: #b6b6b6;
        }
    }
    &__content-bottom {
        display: flex;
    }
    &__info-btn {
        @extend %btn;
        color: #000;
        margin-left: 5px;
        width: 293px;
    }
    &__info-btn:hover {
        @extend %btn_hover;
        color: #000;
        margin-left: 5px;
        width: 293px;
    }
    &__info-checkbox {
        display: flex;
        align-items: start;
        margin-left: 5px;
        input {
            margin: 5px 20px 0 15px;
            width: 20px;
            height: 20px;
            border: 2px solid #000;
            border-radius: 5px;
            cursor: pointer;
        }
        p {
            max-width: 220px;
            font-size: 15px;
            line-height: 22px;
            @extend %outfit-400;
        }
    }
}

.popup__info-item.popup__info-methods {
    width: 100%;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}
// .popup.open .popup__content {
//     transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
//     opacity: 1;
// }
