@import "vars"; // Імпортуємо в головний файл наші допоміжні файли
@import "fonts";
@import "reset";
@import "global";

@import "popup";

// <------------- HEADER------------->

.header {
    &__container {
        background: center / cover no-repeat url(../images/bg1.png);
    }
    &__inner {
        padding: 75px 0;
    }
    &__top {
        display: flex;
        margin-bottom: 100px;
    }
    &__info {
        padding: 60px 0;
    }
    &__subtitle {
        font-size: 20px;
        line-height: 40px;
        @extend %space-700;
        border: 1px solid $accent;
        max-width: 355px;
        padding: 0 10px;
        margin-bottom: 10px;
        background-color: rgba(99, 61, 255, 0.2);
    }
    &__title {
        font-size: 45px;
        line-height: 67px;
        @extend %space-700;
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 60px;
    }
    &__btn {
        @extend %btn;
    }
    &__btn:hover {
        @extend %btn_hover;
    }

    &__img {
        margin-left: 140px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__point {
        max-width: 260px;
        font-size: 15px;
        line-height: 28px;
    }
    &__point-img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // box-shadow: 0px 0px 18px rgba(99, 61, 255, 0.65);
        filter: drop-shadow(0px 4px px rgba(0, 0, 0, 0.25));
        background: rgba(255, 255, 255, 0.05);
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 15px;
    }
}

// <------------- ABOUT------------->

.about {
    &__container {
        background: center / cover no-repeat url(../images/bg2.png);
    }
    &__inner {
        padding: 75px 0;
    }
    &__title {
        font-size: 45px;
        line-height: 67px;
        @extend %space-700;
        max-width: 730px;
        position: relative;
    }
    &__title::before {
        position: absolute;
        content: "";
        width: 740px;
        height: 70px;
        border: 1px solid $accent;
        background-color: rgba(99, 61, 255, 0.2);
        left: -10px;
        top: 0;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 75px 0;
    }

    &__item-info {
        margin: 50px 0 0 0;
        max-width: 620px;
    }
    &__item-title {
        font-size: 34px;
        line-height: 50px;
        @extend %space-700;
        margin: 0 0 60px 30px;
        position: relative;
    }
    &__item-title::before {
        position: absolute;
        content: "";
        width: 7px;
        height: 24px;
        background-color: $default;
        left: -20px;
        top: 14px;
    }
    &__item-paragraph {
        display: flex;
        align-items: flex-start;
    }
    &__item-text {
        margin: 0 0 40px 30px;
    }
}

.about__item-img.about__img2 {
    order: 2;
}

// <------------- WORK------------->

.work {
    &__container {
        background: top / cover no-repeat url(../images/bg3.png);
    }
    &__inner {
        padding: 75px 0;
    }
    &__inner-top {
        margin-bottom: 200px;
    }
    &__title {
        font-size: 55px;
        line-height: 85px;
        @extend %space-700;
        position: relative;
        margin-bottom: 65px;
    }
    &__title::before {
        position: absolute;
        content: "";
        width: 795px;
        height: 75px;
        border: 1px solid $accent;
        background-color: rgba(99, 61, 255, 0.2);
        left: -10px;
        top: 10px;
    }
    &__btn {
        @extend %btn;
    }
    &__btn:hover {
        @extend %btn_hover;
    }
    &__inner-bottom {
        display: flex;
    }

    &__info {
        width: 50%;
        margin-left: 30px;
        img {
            border-radius: 50px;
        }
    }
    &__subtitle {
        font-size: 45px;
        line-height: 70px;
        @extend %space-700;
        margin-bottom: 55px;
        position: relative;
    }
    &__subtitle::before {
        position: absolute;
        content: "";
        width: 110px;
        height: 60px;
        border: 1px solid $accent;
        background-color: rgba(99, 61, 255, 0.2);
        left: -13px;
        top: 7px;
    }
}

.accordion__list {
    display: flex;
    flex-direction: column;
    // gap: 30px;
    border: 2px solid $default;
    border-radius: 10px;
    width: 50%;
    min-height: 100%;
    :last-child {
        border-bottom: none;
    }
}

.spoiler {
    width: auto;
    color: $default;
    border-bottom: 2px solid $default;
    padding: 20px;

    &__preview {
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        position: relative;
    }
    &__preview::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $default;
        border-radius: 50px;
        right: 0;
        top: 15px;
    }
    &__icon {
        img {
            width: 32px;
            height: 32px;
        }
    }
    &__title {
        font-size: 18px;
        line-height: 34px;
        @extend %outfit-500;
    }
    &__wrapper {
        overflow: hidden;
        transition: 0.5s;
    }
    &__body {
        padding-top: 10px;
        padding-bottom: 0;
        height: 133px;
        font-size: 15px;
        line-height: 26px;
        @extend %outfit-400;
        color: $default;
        opacity: 0.5;
    }
}

.spoiler.opened {
    .spoiler__preview::after {
        transform: rotate(180deg);
    }
}

// <------------- FAQ------------->

.faq {
    &__container {
        background: top / cover no-repeat url(../images/bg4.png);
    }
    &__inner {
        padding: 75px 0;
    }
    &__title {
        font-size: 45px;
        line-height: 67px;
        @extend %space-700;
        max-width: 980px;
        margin-bottom: 80px;
        position: relative;
    }
    &__title::before {
        position: absolute;
        content: "";
        width: 485px;
        height: 60px;
        border: 1px solid $accent;
        background-color: rgba(99, 61, 255, 0.2);
        right: 120px;
        top: 7px;
    }
    &__btn {
        @extend %btn;
        margin-bottom: 220px;
    }
    &__btn:hover {
        @extend %btn_hover;
    }
    &__subtitle {
        font-size: 45px;
        line-height: 70px;
        @extend %space-700;
        margin-bottom: 50px;
    }
}

.faq-accordion__list {
    display: flex;
    flex-direction: column;
    // gap: 30px;
    border: 2px solid $default;
    border-radius: 10px;
    width: 100%;
    min-height: 100%;
    :last-child {
        border-bottom: none;
    }
}

.faq-spoiler {
    width: auto;
    color: $default;
    border-bottom: 2px solid $default;
    padding: 20px;

    &__preview {
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        position: relative;
    }
    &__preview::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $default;
        border-radius: 50px;
        right: 0;
        top: 15px;
    }
    &__icon {
        img {
            width: 32px;
            height: 32px;
        }
    }
    &__title {
        font-size: 18px;
        line-height: 34px;
        @extend %outfit-500;
    }
    &__wrapper {
        overflow: hidden;
        transition: 0.5s;
    }
    &__body {
        padding-top: 10px;
        padding-bottom: 0;
        height: 133px;
        font-size: 15px;
        line-height: 26px;
        @extend %outfit-400;
        color: $default;
        opacity: 0.5;
    }
}

.faq-spoiler.opened {
    .faq-spoiler__preview::after {
        transform: rotate(180deg);
    }
}

@import "media";
