<section class="about">
    <div class="about__container">

        <div class="about__inner">
            <h3 class="about__title">Transform your event space management experience</h3>
            <div class="about__items">
                <div class="about__item">
                    <img class="about__item-img"  src="images/about-phone1.svg" alt="">
                    <div class="about__item-info">
                        <h5 class="about__item-title">Increase response time and reduce manual workload, 24/7</h5>
                        <div class="about__item-text">
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">By leveraging the capabilities of our AI chatbot, event
                                    spaces can provide instant and accurate responses to inquiries from event organizers
                                    24/7</p>
                            </div>
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">Dramatically increases response time, ensuring that clients
                                    receive the information they need quickly and efficiently. As a result, your team
                                    can focus on other crucial tasks, significantly reducing the manual workload
                                    associated with handling inquiries</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="about__item">
                    <img class="about__item-img about__img2" src="images/about-phone2.svg" alt="">
                    <div class="about__item-info">
                        <h5 class="about__item-title">Improve customer satisfaction and loyalty</h5>
                        <div class="about__item-text">
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">Our chatbot is designed to deliver a seamless and
                                    personalized experience for your clients</p>
                            </div>
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">Happy clients are more likely to recommend your event space
                                    to others, further expanding your customer base</p>
                            </div>
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">By providing instant, accurate, and helpful responses, the
                                    chatbot enhances customer satisfaction, which in turn fosters loyalty and encourages
                                    repeat business</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="about__item">
                    <img class="about__item-img" src="images/about-phone3.svg" alt="">
                    <div class="about__item-info">
                        <h5 class="about__item-title">Boost event booking and revenue potential</h5>
                        <div class="about__item-text">
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">Our AI Event Space Chatbot streamlines the booking process,
                                    making it easier for event organizers to reserve your venue</p>
                            </div>
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">With an intuitive interface and quick access to relevant
                                    information, potential clients are more likely to complete their bookings, leading
                                    to increased revenue potential</p>
                            </div>
                            <div class="about__item-paragraph">
                                <img class="about__point-img" src="images/point.svg" alt="">
                                <p class="about__item-text">Furthermore, the chatbot can also promote special offers and
                                    upsell additional services, contributing to higher average transaction values</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>