<div id="popup" class="popup">
    <div class="popup__body">

        <div class="popup__content">
            <button class="popup__close"></button>
            <p class="popup__title">Модальне вікно</p>
            <p class="popup__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dolore beatae,
                maiores molestiae natus iusto obcaecati quibusdam, error pariatur nulla quaerat modi veritatis. Possimus
                sunt laborum nihil maiores recusandae aliquid.</p>
        </div>

    </div>
</div>