<section class="work">
    <div class="work__container">

        <div class="work__inner">
            <div class="work__inner-top">
                <h3 class="work__title">Join the waitlist today to transform your event space management experience</h3>
                <button class="work__btn">Join the Waitlist</button>
            </div>
            <div class="work__inner-bottom">
                <div class="accordeon__list">
                    <div data-accordion class="spoiler opened">
                        <div class="spoiler__preview">
                            <div class="spoiler__icon"><img src="..//images/ico1.svg" alt=""></div>
                            <h5 class="spoiler__title">Initial consultation</h5>
                        </div>
                        <div class="spoiler__wrapper">
                            <div class="spoiler__body">We conduct a meeting with your event space representative to
                                understand your requirements, expectations, and the scope of the chatbot's
                                functionality. We will gather your information about your event types, booking process,
                                and any unique services or features you have to offer</div>
                        </div>
                    </div>
                    <div data-accordion class="spoiler">
                        <div class="spoiler__preview">
                            <div class="spoiler__icon"><img src="..//images/ico2.svg" alt=""></div>
                            <h5 class="spoiler__title">Data collection</h5>
                        </div>
                        <div class="spoiler__wrapper">
                            <div class="spoiler__body">Accodrion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="spoiler">
                        <div class="spoiler__preview">
                            <div class="spoiler__icon"><img src="..//images/ico3.svg" alt=""></div>
                            <h5 class="spoiler__title">Chatbot Customization</h5>
                        </div>
                        <div class="spoiler__wrapper">
                            <div class="spoiler__body">Accodrion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="spoiler">
                        <div class="spoiler__preview">
                            <div class="spoiler__icon"><img src="..//images/ico4.svg" alt=""></div>
                            <h5 class="spoiler__title">Training and Testing</h5>
                        </div>
                        <div class="spoiler__wrapper">
                            <div class="spoiler__body">Accodrion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="spoiler">
                        <div class="spoiler__preview">
                            <div class="spoiler__icon"><img src="..//images/ico5.svg" alt=""></div>
                            <h5 class="spoiler__title">Feedback and Adjustments</h5>
                        </div>
                        <div class="spoiler__wrapper">
                            <div class="spoiler__body">Accodrion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="spoiler">
                        <div class="spoiler__preview">
                            <div class="spoiler__icon"><img src="..//images/ico6.svg" alt=""></div>
                            <h5 class="spoiler__title">Launch</h5>
                        </div>
                        <div class="spoiler__wrapper">
                            <div class="spoiler__body">Accodrion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="spoiler">
                        <div class="spoiler__preview">
                            <div class="spoiler__icon"><img src="..//images/ico7.svg" alt=""></div>
                            <h5 class="spoiler__title">Continuous Improvement</h5>
                        </div>
                        <div class="spoiler__wrapper">
                            <div class="spoiler__body">Accodrion content here</div>
                        </div>
                    </div>
                </div>
                <div class="work__info">
                    <p class="work__subtitle">How does it work?</p>
                    <img src="../images/work.jpg" alt="">
                </div>
            </div>


        </div>

    </div>
</section>