<section class="faq">
    <div class="faq__container">

        <div class="faq__inner">
            <div class="faq__inner-top">
                <h3 class="faq__title">Position your venue as a leader in the industry and differentiate yourself from
                    competitors.</h3>
                <button class="faq__btn">Join the Waitlist</button>
            </div>
            <div class="faq__inner-bottom">
                <h3 class="faq__subtitle">FAQ</h3>
                <div class="faq-accordion__list">
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq01.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">What is the AI-powered chatbot for event spaces?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq02.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">Is the AI Event Spaces Chatbot only suitable for big event spaces?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq03.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">Can I integrate the AI Chatbot with WhatsApp, Messenger or my email?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq04.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">Can I have an AI bot for my restaurant or bar?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq05.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">Can the chatbot be customized to suit my event space's specific needs?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq06.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">How easy is it to integrate the chatbot into my existing website or management platform?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq07.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">Is the chatbot available 24/7 to answer inquiries from event organizers?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq08.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">Is this possible to use your AI-powered chatbot to complete an event organizer booking?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq09.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">How secure is the information shared with the chatbot?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq10.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">What kind of support do you provide during and after the chatbot's implementation?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq11.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">What are the costs involved in using the AI chatbot?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq12.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">How do I join the waitlist for the chatbot's launch?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                    <div data-accordion class="faq-spoiler">
                        <div class="faq-spoiler__preview">
                            <div class="faq-spoiler__icon"><img src="images/faq13.svg" alt=""></div>
                            <h5 class="faq-spoiler__title">Can the chatbot handle multi-language inquiries?</h5>
                        </div>
                        <div class="faq-spoiler__wrapper">
                            <div class="faq-spoiler__body">Accordion content here</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>