<div id="popup" class="popup">
    <div class="popup__body">

        <div class="popup__content">
            <button class="popup__close"></button>
            <div class="popup__content-top">
                <h4 class="popup__title">Waitlist</h4>
                <h5 class="popup__subtitle">AI Events Chatbot</h5>
            </div>
            <div class="popup__info">
                <div class="popup__info-item popup__info-name">
                    <p>Name</p>
                    <input type="text" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-email">
                    <p>Email address</p>
                    <input type="email" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-company">
                    <p>Company/organization name:</p>
                    <input type="text" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-job">
                    <p>Job role/Title:</p>
                    <input type="text" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-type">
                    <p>Type of events organized</p>
                    <input type="text" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-number">
                    <p>A number of events organized per year?</p>
                    <input type="text" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-methods">
                    <p>Current methods of managing your inquiries</p>
                    <input type="text" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-feature">
                    <p>Does any AI Chatbot feature you would need ?</p>
                    <input type="text" placeholder="Your answer here">
                </div>
                <div class="popup__info-item popup__info-chatbot">
                    <p>How did they hear about the AI Event Chatbot ?</p>
                    <input type="text" placeholder="Your answer here">
                </div>
            </div>
            <div class="popup__content-bottom">
                <button class="popup__info-btn">Join the Waitlist</button>
                <div class="popup__info-checkbox">
                    <input type="checkbox">
                    <p>I agree to receive updates and marketing communications from Salle Privée / Event Spaces</p>
                </div>
            </div>
        </div>
    </div>

</div>
</div>